body {
    background-color: darkseagreen;
    text-align: center;
}

button {
    width: 100px;
    height: 25px;
    font-size: 14px;
}

#content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

label {
    font-size: 1.5rem;
}